body div.ul.li.title {
  font-size: 16px;
  font-weight: bold;
  color: #00f;
}
div.get_id {
  margin: 10px 0;
  font-size: 20px;
  color: #ff6347;
}
div#backbone {
  width: 50%;
  margin-bottom: 50px;
  list-style-type: none;
}
form#theform {
  margin: 20px 0;
}
form#theform .input-group {
  margin: 20px 0;
}
form.times_two .alert-warning {
  display: none;
}
